<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="container">
    <header class="header clearfix">
      <nav>
        <ul class="top_menu clearfix">
          <li>ホーム</li>
          <li>メッセージ</li>
          <li>プロフィール</li>
          <li>設定</li>
        </ul>
      </nav>
    </header>
    <%= image_tag 'twitter.png', class:'icon' %>
    <div class="wrapper clearfix">

      <h1>Home</h1>
      <p><%= notice %></p>
      <table>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= link_to '編集', edit_post_path(post.id)%></td>
          <td><%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
        </tr>
        <% end %>
      </table>
      <br>
      <%= link_to 'ツイートする', new_post_path %>

    </div>
    <footer class="footer">
      <p>twitter_clone</p>
    </footer>
  </div>
</body>
</html>
